@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<h2>Арифметичні операції</h2>

<form method="get" action="/Calc/Add">
    <label>Число A:</label>
    <input type="number" name="a" required />
    <br />
    <label>Число B:</label>
    <input type="number" name="b" required />
    <br />
    <button type="submit">Додати</button>

</form>

<br />

<form method="get" action="/Calc/Subtract">
    <label>Число A:</label>
    <input type="number" name="a" required />
    <br />
    <label>Число B:</label>
    <input type="number" name="b" required />
    <br />
    <button type="submit">Відняти</button>
</form>

<br />

<form method="get" action="/Calc/Multiply">
    <label>Число A:</label>
    <input type="number" name="a" required />
    <br />
    <label>Число B:</label>
    <input type="number" name="b" required />
    <br />
    <button type="submit">Множити</button>
</form>

<br />

<form method="get" action="/Calc/Divide">
    <label>Число A:</label>
    <input type="number" name="a" required />
    <br />
    <label>Число B:</label>
    <input type="number" name="b" required />
    <br />
    <button type="submit">Ділити</button>
</form>

<br />


<h2>Дізнатися поточний час дня</h2>
<form method="get" action="/Time/CurrentTime">
    <button type="submit">Дізнатися час дня</button>
</form>